* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #44354D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    padding: 20px;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 24px;
}

header i {
    color: #44354D;
    cursor: pointer;
}

/* Estilos para el botón de usuario */
.user-icon-button {
    background: none; /* Sin fondo */
    border: none; /* Sin bordes */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    padding: 0; /* Elimina padding extra */
}

.user-icon-button i {
    font-size: 24px; /* Tamaño del ícono */
    color: #44354D; /* Color del ícono */
}

.user-icon-button:hover i {
    color: #c90000; /* Cambia el color al pasar el mouse */
}

/* Barra de búsqueda */
.search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    margin: 20px auto;
}

.search-box i {
    font-size: 20px;
    color: #44354D;
    margin-right: 10px;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

/* Resultados de búsqueda */
.results {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para que la imagen dentro del enlace ocupe todo el espacio de la tarjeta */
.card a {
    display: block; /* Hace que el enlace ocupe todo el espacio disponible */
    width: 100%;
    text-decoration: none; /* Elimina subrayado */
}

.card-img {
    width: 100%;
    height: auto;
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

/* Cambiar el estilo del enlace al pasar el mouse */
.card a:hover .card-img {
    opacity: 0.8; /* Efecto de opacidad al pasar el cursor */
}

.card-content {
    padding: 10px;
}

.location {
    font-weight: bold;
    color: #c90000;
    margin-bottom: 5px;
}

.description {
    color: #555;
}

.favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #ff5c5c;
    cursor: pointer;
}

/* Barra de navegación inferior */
.bottom-nav {
    background-color: #44354D;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none; /* Elimina subrayado */
}

.nav-item i {
    font-size: 24px;
    margin-bottom: 5px;
}

.nav-item p {
    font-size: 14px;
}

.nav-item:hover {
    color: #ccc;
}
