/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #44354D;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Elimina el desplazamiento si es necesario */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal de perfil */
.profile-container {
    width: 100vw; /* Ocupa el 100% del ancho de la ventana */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    background-color: #f9f9f9;
    border-radius: 0; /* Elimina los bordes redondeados para ocupar toda la pantalla */
    box-shadow: none; /* Elimina la sombra */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Encabezado */
header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.close-icon {
    font-size: 20px;
    color: #44354D;
    cursor: pointer;
}

/* Encabezado de perfil */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-icon {
    font-size: 60px;
    color: #44354D;
    margin-bottom: 10px;
}

.profile-header h1 {
    font-size: 22px;
    font-weight: bold;
    color: #44354D;
    margin-bottom: 5px;
}

.profile-header p {
    font-size: 14px;
    color: #44354D;
    display: flex;
    align-items: center;
}

.location-icon {
    margin-right: 5px;
}

/* Opciones de perfil */
.profile-options {
    width: 100%;
    padding: 15px;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    color: #44354D;
    border-top: 1px solid #44354D;
    cursor: pointer;
}

.option i {
    font-size: 20px;
    color: #44354D;
    margin-right: 10px;
}
